.App {
  text-align: center;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

}


.gridContainer{
  width: 100%;
  max-width: 500px;
  display: grid;
  border: 1px solid black;
  padding: 10px;
}

.cell{
  width: 100%;
  max-width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 5px;
  background-color: transparent;

  &.activated{
    background-color: green;
  }
}

